name: Main workflow
on: push
env:
  docker_username: yonatank0510
  docker_password: ${{ secrets.GITHUB_TOKEN }}
  GIT_COMMIT: ${{ github.sha }}

jobs:
  Build:
    runs-on: ubuntu-latest
    container: gradle:6-jdk11
    steps:
      - name: Clone down repository
        uses: actions/checkout@v4
      - name: Build application
        working-directory: 02-git-github/exercises/github-actions-katas
        run: ./ci/build-app.sh
      - name: Test
        working-directory: 02-git-github/exercises/github-actions-katas
        run: ./ci/unit-test-app.sh
      - name: Upload repo
        uses: actions/upload-artifact@v4
        with:
          name: code
          path: 02-git-github/exercises/github-actions-katas
          include-hidden-files: true
  Linting:
    runs-on: ubuntu-latest
    needs: [Build]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Download code
        uses: actions/download-artifact@v4
        with:
          name: code
          path: .

      - name: run linting
        uses: super-linter/super-linter/slim@v7
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DISABLE_ERRORS: true
  Docker-image:
    runs-on: ubuntu-latest
    needs: [Build]
    permissions:
      packages: write
    steps:
      - name: Download code
        uses: actions/download-artifact@v4
        with:
          name: code
          path: code

      - name: build docker
        working-directory: code
        run: bash ci/build-docker.sh

      - name: push docker
        working-directory: code
        run: bash ci/push-docker.sh
        
  Component-test:
    runs-on: ubuntu-latest
    needs: Docker-image
    steps:
      - name: Download code
        uses: actions/download-artifact@v4
        with:
          name: code
          path: code

      - name: Execute component test
        working-directory: code
        run: bash ci/component-test.sh

  Performance-test:
    runs-on: ubuntu-latest
    needs: Docker-image
    steps:
      - name: Download code
        uses: actions/download-artifact@v4
        with:
          name: code
          path: code

      - name: Execute performance test
        working-directory: code
        run: bash ci/performance-test.sh
